<% if notice %>
  <div id="notice" class="card-panel green lighten-3"><%= notice %></div>
<% end %>

<h4 class="center">Todos</h4>

<div class="row">
  <div class="col s12">
    <%= link_to new_todo_path, class: "right" do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>

<ul id="todo_index" class="collection">
  <% @todos.each do |todo| %>
    <%= render 'index_li', todo: todo, act: nil %>
  <% end %>
</ul>
