<%= render "layouts/partials/user_dropdown_menu" %>

<nav>
  <div class="container">
    <div class="nav-wrapper">
      <%= link_to todos_path, class: "left brand-logo" do %>
        <i class="material-icons">tag_faces</i>
        Howard's TODO
      <% end %>
      <ul class="right hide-on-med-and-down">
        <% if current_user %>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="user_dropdown">
              Salutations, <%= current_user.email %>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="material-icons">exit_to_app</i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
